<%- include('../partials/adminPartial.ejs') %>
  <!-- Table Start -->
  <div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Category</h6>
                <div class="table-responsive">
                    <table id="tableform" class="table">
                        <thead>
                            <tr>
                                <th scope="col">Category</th>
                                <th scope="col">Block</th>
                                <th scope="col">Delete</th>
                            </tr>
                        </thead>
                      
                    </table>
                    <div class="text-center mb-2">
                        <a href="/admin/addCategory" class="btn btn-secondary">Add Category</a>
                        </div>
                </div>          
            </div>
        </div>
    </div>
</div>
</div>
</div>
<!-- Table End -->
