 <!-- Footer Section Begin -->
 <section class="py-0 pt-7 " style="background-color: #e1e1e1;">

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-6 col-lg-3 mb-3">
          <h5 class="lh-lg fw-bold" style="color: rgb(70, 65, 65);">Company Info</h5>
          <ul class="list-unstyled mb-md-4 mb-lg-0">
            <li class="lh-lg"><a class="text-800 text-decoration-none" href="#!">About Us</a></li>
            <li class="lh-lg"><a class="text-800 text-decoration-none" href="#!">Affiliate</a></li>
            <li class="lh-lg"><a class="text-800 text-decoration-none" href="#!">Fashion Blogger</a></li>
          </ul>
        </div>
        <div class="col-6 col-lg-3 mb-3">
          <h5 class="lh-lg fw-bold" style="color: rgb(70, 65, 65);">Help &amp; Support</h5>
          <ul class="list-unstyled mb-md-4 mb-lg-0">
            <li class="lh-lg"><a class="text-800 text-decoration-none" href="#!">Shipping Info</a></li>
            <li class="lh-lg"><a class="text-800 text-decoration-none" href="#!">Refunds</a></li>
            <li class="lh-lg"><a class="text-800 text-decoration-none" href="#!">How to Order</a></li>
            <li class="lh-lg"><a class="text-800 text-decoration-none" href="#!">How to Track</a></li>
            <li class="lh-lg"><a class="text-800 text-decoration-none" href="#!">Size Guides</a></li>
          </ul>
        </div>
        <div class="col-6 col-lg-3 mb-3">
          <h5 class="lh-lg fw-bold" style="color: rgb(70, 65, 65);">Customer Care</h5>
          <ul class="list-unstyled mb-md-4 mb-lg-0">
            <li class="lh-lg"><a class="text-800 text-decoration-none" href="#!">Contact Us</a></li>
            <li class="lh-lg"><a class="text-800 text-decoration-none" href="#!">Payment Methods</a></li>
            <li class="lh-lg"><a class="text-800 text-decoration-none" href="#!">Bonus Point</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- end of .container-->

  </section>
</main>

<script src="/user/vendors/@popperjs/popper.min.js"></script>
<script src="/user/vendors/bootstrap/bootstrap.min.js"></script>
<script src="/user/vendors/is/is.min.js"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
<script src="/user/vendors/feather-icons/feather.min.js"></script>
<script>
  feather.replace();
</script>
<script src="/user/assets/js/theme.js"></script>

    <!-- Js Plugins -->
    <script src="/user/assets/js/jquery-3.3.1.min.js"></script>
    <script src="/user/assets/js/bootstrap.min.js"></script>
    <script src="/user/assets/js/jquery.nice-select.min.js"></script>
    <script src="/user/assets/js/jquery.nicescroll.min.js"></script>
    <script src="/user/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="/user/assets/js/jquery.countdown.min.js"></script>
    <script src="/user/assets/js/jquery.slicknav.js"></script>
    <script src="/user/assets/js/mixitup.min.js"></script>
    <script src="/user/assets/js/owl.carousel.min.js"></script>
    <script src="/user/assets/js/main.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript"></script>
    <script src="/user/assets/js/ajax.js "></script>

<link href="https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">
</body>

</html>
