 <!-- Footer Section Begin -->
 <footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a href="#"><img src="img/footer-logo.png" alt=""></a>
                    </div>
                    <p>The customer is at the heart of our unique business model, which includes design.</p>
                    <a href="#"><img src="img/payment.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>Shopping</h6>
                    <ul>
                        <li><a href="#">Clothing Store</a></li>
                        <li><a href="#">Trending Shoes</a></li>
                        <li><a href="#">Accessories</a></li>
                        <li><a href="#">Sale</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>Shopping</h6>
                    <ul>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Payment Methods</a></li>
                        <li><a href="#">Delivary</a></li>
                        <li><a href="#">Return & Exchanges</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                <div class="footer__widget">
                    <h6>NewLetter</h6>
                    <div class="footer__newslatter">
                        <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                        <form action="#">
                            <input type="text" placeholder="Your email">
                            <button type="submit"><span class="icon_mail_alt"></span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="footer__copyright__text">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    <p>Copyright ©
                        <script>
                            document.write(new Date().getFullYear());
                        </script>2020
                        All rights reserved | This template is made with <i class="fa fa-heart-o"
                        aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    </p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
            </div>
        </div>
    </div>
</footer>
</main>

<script src="/user/vendors/@popperjs/popper.min.js"></script>
<script src="/user/vendors/bootstrap/bootstrap.min.js"></script>
<script src="/user/vendors/is/is.min.js"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
<script src="/user/vendors/feather-icons/feather.min.js"></script>
<script>
  feather.replace();
</script>
<script src="/user/assets/js/theme.js"></script>

    <!-- Js Plugins -->
    <script src="/user/assets/js/jquery-3.3.1.min.js"></script>
    <script src="/user/assets/js/bootstrap.min.js"></script>
    <script src="/user/assets/js/jquery.nice-select.min.js"></script>
    <script src="/user/assets/js/jquery.nicescroll.min.js"></script>
    <script src="/user/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="/user/assets/js/jquery.countdown.min.js"></script>
    <script src="/user/assets/js/jquery.slicknav.js"></script>
    <script src="/user/assets/js/mixitup.min.js"></script>
    <script src="/user/assets/js/owl.carousel.min.js"></script>
    <script src="/user/assets/js/main.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript"></script>
    <script>
        function changeQuantity(cartId,proId,count){
            
            let quantity = document.getElementById("quantity").value;
            console.log(quantity);
            $.ajax({
                url:'/changeQuantity',
                data:{
                    cart:cartId,
                    product:proId,
                    count:count,
                    quantity: quantity
                },
                method:'post',
                success:(response)=>{
                    if (response.status){
                    document.getElementById("quantity").innerHTML = quantity + count;
                    } if (response.stock) {
                        Swal.fire({
                            title: "OOPs..Stock Out!",
                            icon: "error",
                            confirmButtonText: "continue",
                        })
                    }
                },
            })
        }
        </script>

        <script>
        function removeProduct(cartId, productId) {
            $.ajax({
              url: "/removeProduct",
              data: {
                cart: cartId,
                product: productId,
              },
              method: "post",
              success: () => {
                if(response.status){
                    Swal.fire({
                            title: "Product Removed",
                            icon: "success",
                            confirmButtonText: "continue",
                        })
                }
              },
            });
          }

          </script>

<link href="https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">
</body>

</html>
